<h2>My favorite gif</h2>

<img src="https://www.bing.com/images/search?q=&view=detailv2&id=9E58EA08569E94AE8C77B501B23203D198008011&ccid=ZrRG8nAS&iss=fav&FORM=SVIM01&idpview=singleimage&mediaurl=https%253a%252f%252fmedia.giphy.com%252fmedia%252f3o72F7RrTPW6jymXew%252fgiphy.gif&expw=480&exph=200&thid=OIP.ZrRG8nASY3mSR5Heje9o3wHaDF" alt="gif take my money"></a> 